.button {
  padding: 0;
  height: auto;
  background-color: transparent;
  margin-top: var(--spacer-xs);
  cursor: pointer;
  display: flex;
  gap: var(--spacer-xs);
  align-items: center;
  font-family: var(--secondary-font);
  transition: opacity 0.2s ease-in-out;

  &.open {
    i {
      transform: rotate3d(1, 0, 0, 0.5turn);
    }
  }

  i {
    mask-size: 24px;
    mask-position: center;
    transition: 0.3s transform ease-in-out;
    background-color: var(--color-iron-ore);
  }

  &.animating {
    opacity: 0;
  }
}

.word {
  opacity: 0;
  transition: opacity var(--transition-duration, 300ms) ease-out;
  animation: fadeIn var(--transition-duration, 300ms) forwards;
  animation-delay: var(--transition-delay, 0ms);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
