@use "./fonts.module.scss" as fonts;
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  // Colors
  --color-eigengrau: #16161a;
  --color-cobit: #22394c;
  --color-iron-ore: #74330f;
  --color-gold-lustre: #956c00;

  // Spacing
  --spacer-xs: 4px;
  --spacer-s: 8px;
  --spacer-m: 16px;
  --spacer-l: 32px;
  --spacer-xl: 64px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kaiti TC", serif;
  font-size: 16px;
  color: var(--color-cobit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-family: "Hahmlet", sans-serif;
  color: var(--color-iron-ore);
}

p {
  margin-bottom: var(--spacer-s);
}

a {
  color: inherit;
  text-decoration: none;
}
