@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --max-width: calc(1024px + (24px * 2));

  // Colors
  --color-eigengrau: #16161a;
  --color-dark: #3d3d3d;
  --color-cobit: #22394c;
  --color-iron-ore: #74330f;
  --color-gold-lustre: #956c00;
  --color-gold-lustre-10: #956c001a;
  --color-turquoise: #4f8691;
  --color-porcelain: #fafafa;

  // Spacing
  --spacer-xxs: 4px;
  --spacer-xs: 8px;
  --spacer-s: 16px;
  --spacer-m: 24px;
  --spacer-l: 32px;
  --spacer-xl: 40px;
  --spacer-xxl: 48px;
  --spacer-xxxl: 56px;
  --spacer-xxxxl: 72px;

  // Sizing
  --header-height: 140px;

  // Fonts - body
  --primary-font: "Cormorant", serif;

  // Fonts - headings
  --secondary-font: "Spectral SC", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--color-cobit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: var(--primary-font);
  color: var(--color-iron-ore);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-bottom: var(--spacer-xs);
}

.link {
  color: inherit;
  text-decoration: none;
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  transition-property: color, border-color;
  transition-duration: 0.15s;
  padding-bottom: 0.1em;

  &:hover {
    border-color: inherit;
    color: var(--color-gold-lustre);
  }
}

a {
  @extend .link;
}

button {
  cursor: pointer;
  border: none;
}

// Prevent scroll when mobile menu open
.freeze {
  overflow: hidden;
}
