.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacer-m);
  gap: 2rem;
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
}

.video {
  width: 100%;
  max-width: 100%;

  iframe {
    aspect-ratio: 16/ 9;
  }
}

.wix_site {
  text-align: center;
}

.gallery {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.contact {
  &_socials {
    display: flex;
    gap: 1rem;
    place-content: center;

    svg {
      font-size: 3rem;
      transition: transform 0.15s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
