.main {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-m);
  gap: var(--spacer-m);
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;

  h2 {
    text-align: center;
  }
}

.featured__image {
  img {
    aspect-ratio: 1024 / 479;
    max-width: 100%;
    object-fit: cover;
    padding: var(--spacer-s);
    outline: 1px solid var(--color-gold-lustre);
  }
}

.video {
  width: 100%;
  max-width: 100%;

  iframe {
    aspect-ratio: 16/ 9;
  }
}

.history {
}

.contact {
  &__socials {
    a {
      display: flex;
      gap: var(--spacer-m);
      margin-bottom: var(--spacer-s);
    }

    h3 {
      font-size: 1rem;
    }

    i {
      background-color: var(--color-gold-lustre);
      transition: 0.3s transform ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
