@use "../styles/breakpoints" as bp;
@use "../styles/layout" as layout;
@use "../styles/utility" as utility;

.main {
  @extend .wrapper;
  display: flex;
  flex-direction: column;

  > section:not(:last-child) {
    margin-bottom: var(--spacer-xl);
    scroll-margin-top: calc(var(--header-height) + var(--spacer-s));
  }

  h2 {
    text-align: center;
    margin-bottom: var(--spacer-l);

    &:has(~ p) {
      margin-bottom: var(--spacer-s);
    }
  }
}

.text_section {
  h1 {
    text-transform: uppercase;
  }

  button {
    color: var(--color-gold-lustre);
    text-transform: capitalize;
  }
}

.collection {
  margin-bottom: var(--spacer-xl);
}

.cta {
  margin-bottom: var(--spacer-l);

  &_button {
    margin-inline: auto;
    border-radius: 8px;
    text-transform: uppercase;
    color: var(--color-turquoise);
    height: 48px;
    min-width: 160px;
    width: max-content;
    max-width: 100%;
    display: grid;
    place-items: center;
    transition: 0.2s box-shadow ease;
    box-shadow: 4px 4px 4px -2px #956c001a, inset 4px 4px 4px -2px #956c003d;

    &:hover {
      box-shadow: -4px -4px 4px -2px #956c001a,
        inset -4px -4px 4px -2px #956c003d;
    }
  }
}

.video {
  width: 100%;
  max-width: 100%;

  iframe {
    @extend .outlined;
    border: none;
    aspect-ratio: 16/ 9;
  }
}

.about {
  .image_trio {
    margin-bottom: var(--spacer-xl);
    display: grid;
    gap: var(--spacer-xxs);
    grid-template: repeat(2, auto) / 1fr 1fr;

    .image {
      height: min-content;

      @media screen and (max-width: calc(bp.$md + 1px)) {
        &3 {
          grid-column: span 2;

          img {
            aspect-ratio: 7 / 4;
          }
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1;
    }

    @media screen and (min-width: bp.$md) {
      grid-template: 1fr / 1fr 2fr 1fr;

      .image {
        &2 {
          order: 3;
        }

        &3 {
          img {
            aspect-ratio: 2 / 1;
          }
        }
      }
    }
  }
}

.contact {
  h2 {
    margin-bottom: var(--spacer-m);
  }

  &_socials {
    text-align: center;

    a {
      margin-bottom: var(--spacer-l);
      display: inline-block;
      text-transform: none;
      color: var(--color-dark);

      p {
        margin-bottom: 0;
      }

      &:hover {
        i {
          background-color: var(--color-gold-lustre);
        }
      }
    }

    i {
      background-color: var(--color-turquoise);
      width: 30px;
      height: 30px;
      padding: var(--spacer-xxs);
      transition: 0.3s transform ease;
    }
  }
}
