@use "../../styles/layout" as layout;
@use "../../styles/breakpoints" as bp;

%logo-styles {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 60vw;
}

.header {
  &_inner {
    @extend .wrapper;
    max-width: bp.$xxl;
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacer-xl);
  }

  .logo {
    img {
      @extend %logo-styles;
      max-height: var(--header-height);
      transition: 0.15s max-height linear;
    }
  }

  .menu {
    &_inner {
      list-style: none;
      display: flex;
    }

    li {
      padding: var(--spacer-xs);
      font-size: 1.2rem;
    }

    .cta {
      font-weight: 500;
      color: var(--color-turquoise);
    }
  }

  // mobile
  @media screen and (max-width: calc(bp.$lg + 1px)) {
    .menu {
      position: fixed;
      inset: 0;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      pointer-events: none;
      transition: 0.3s background-color ease-in-out;

      &.open {
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: all;

        .menu_inner {
          transform: translateX(0);
        }
      }

      &_inner {
        padding: var(--spacer-xxxxl) var(--spacer-s) 0 var(--spacer-xs);
        transition: 0.3s transform ease-in-out;
        transform: translateX(100%);
        flex-direction: column;
        align-items: end;
        background-color: #fffd;
        backdrop-filter: blur(3px);
        gap: var(--spacer-xxs);
        width: 50vw;
        max-width: 100%;
        height: 100%;
        margin-left: auto;

        @media screen and (max-width: bp.$sm) {
          width: 100%;
        }
      }
    }

    .hamburger {
      position: fixed;
      top: var(--spacer-xs);
      right: var(--spacer-xs);
      z-index: 2;
      width: 48px;
      height: 48px;
      padding: 0;
      background-color: var(--color-porcelain);
      border: 1px solid var(--color-gold-lustre-10);
      border-radius: 50%;
      box-shadow: 0 4px 4px var(--color-gold-lustre-10),
        inset 0 4px 4px var(--color-gold-lustre-10);

      svg {
        height: 100%;
        width: 100%;
        cursor: pointer;
        transition-duration: 0.3s;

        path {
          fill: none;
          stroke: var(--color-gold-lustre);
          stroke-width: 5;
          transition-duration: 0.3s;
          stroke-linecap: round;
        }

        .top {
          stroke-dasharray: 40 160;
        }
        .middle {
          transform-origin: 50%;
          stroke-dasharray: 40 142;
        }
        .bottom {
          transform-origin: 50%;
          stroke-dasharray: 40 85;
        }
      }

      &.open {
        svg {
          --tw-rotate: 45deg;
          transform: rotate(var(--tw-rotate));

          .top {
            stroke-dashoffset: -64px;
          }
          .middle {
            --tw-rotate: 90deg;
            transform: rotate(var(--tw-rotate));
          }
          .bottom {
            stroke-dashoffset: -64px;
          }
        }
      }
    }
  }

  // desktop
  @media screen and (min-width: bp.$lg) {
    background-color: white;
    // box-shadow: 0 3px 3px rgba(255, 255, 255, 1);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &_inner {
      margin-bottom: var(--spacer-xxs);
    }

    .menu_inner {
      gap: var(--spacer-l);

      li {
        padding-right: 0;
      }
    }

    .hamburger {
      display: none;
    }
  }
}

.static_logo {
  @extend .wrapper;
  margin-top: 0;
  margin-bottom: var(--spacer-l);

  @media screen and (min-width: bp.$lg) {
    max-width: bp.$xxl;
    margin-top: var(--header-height);
    opacity: var(--scroll-y, 1);
  }

  img {
    @extend %logo-styles;
  }
}
