.expandable {
}

.button {
  padding: 0;
  border: none;
  height: auto;
  background-color: transparent;
  margin-bottom: var(--spacer-s);
  cursor: pointer;
  display: flex;
  gap: var(--spacer-s);
  align-items: center;

  &.open {
    i {
      transform: rotate3d(1, 0, 0, 0.5turn);
    }
  }

  &.centered {
    width: 100%;
    justify-content: center;
  }

  i {
    mask-size: 24px;
    mask-position: center;
    transition: 0.3s transform ease-in-out;
    background-color: var(--color-iron-ore);
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr; // collapsed state
  transition: 0.3s grid-template-rows ease-in-out;

  &.open {
    grid-template-rows: 1fr; // expanded state
  }

  > * {
    overflow: hidden;
    min-height: 0;
  }
}
