.collection {
  --grid-items: 9;
  position: relative;
  overflow: hidden;
  max-width: 760px;
  margin-inline: auto;
  isolation: isolate;

  .grid {
    display: grid;
    gap: var(--spacer-xxs);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    &:hover {
      .image_wrapper:not(:hover) {
        filter: blur(2px);
      }
    }
  }

  .fullscreen_gallery {
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 2;
    transition-duration: 0.25s;
    transition-property: opacity;
    display: grid;
    grid-template: 1fr / repeat(var(--grid-items), 100%);

    &.slide_transition_enabled {
      transition-property: transform, opacity;
    }
  }

  .button {
    padding: 0;
    position: absolute;
    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 3;
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    transform-origin: center;

    &:hover {
      i {
        background-color: var(--color-iron-ore);
      }
    }

    i {
      transition: 0.2s background-color ease;
    }

    &_close {
      top: var(--spacer-s);
      left: var(--spacer-s);
    }

    &_centered {
      top: 50%;
      transform: translateY(-50%);
    }

    &_previous {
      left: var(--spacer-s);
    }

    &_next {
      right: var(--spacer-s);
    }
  }

  .image_wrapper {
    line-height: 0;
    transition-property: box-shadow, filter;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
      z-index: 1;
      filter: none;
    }
  }

  .static_image {
    line-height: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &.has_selected {
    .grid {
      pointer-events: none;
    }

    .fullscreen_gallery {
      opacity: 1;
      pointer-events: all;
    }

    .button {
      opacity: 1;
      pointer-events: all;
    }

    .image_wrapper {
      box-shadow: none;
      filter: none;
    }
  }
}
